body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

button {
  cursor: pointer;
  transition: background 0.3s;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}
